.scroll-footer {
    background-color:#d8c3a5;
    z-index:2000;
    position:fixed;
    bottom:0;
    right:0;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    padding:5px 15px;
}