body {
  overflow-x:hidden;
}

.menu-wrapper {
    width:60px;
    transition: width 200ms ease-in-out;
}

.menu-wrapper ul {
  margin-top: 1.85rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.menu-wrapper li {
  position: relative;
  clear: both;
  width: 100%;
  padding: 0;
  transition: background 400ms;
}
.menu-wrapper li a {
  display: flex;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.menu-wrapper li a i {
    padding: 0px 10px;
}

.menu-wrapper a {
  align-items: center;
  width: 100%;
  text-decoration: none;
  transition: color 400ms;
}
.menu-wrapper a span {
  position: relative;
  display: block;
  z-index: 0;
  text-indent: -20em;
  white-space: nowrap;
  transition: text-indent 200ms ease-in-out;
}

.sidemenu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  z-index: 10;
}

.sidemenu .menu-wrapper.links:hover {
  width:180px;
  transition: width 400ms ease-in-out;
}

.sidemenu .menu-wrapper:hover li:nth-of-type(1) span {
  transition-delay: 100ms;
}

.sidemenu .menu-wrapper:hover li:nth-of-type(2) span {
  transition-delay: 200ms;
}

.sidemenu .menu-wrapper:hover li:nth-of-type(3) span {
  transition-delay: 300ms;
}

.sidemenu .menu-wrapper:hover li:nth-of-type(4) span {
  transition-delay: 400ms;
}

.sidemenu .menu-wrapper:hover li:nth-of-type(5) span {
  transition-delay: 500ms;
}

.sidemenu .menu-wrapper:hover li:nth-of-type(6) span {
  transition-delay: 600ms;
}

.sidemenu .menu-wrapper:hover li:nth-of-type(7) span {
  transition-delay: 700ms;
}

.sidemenu .menu-wrapper:hover span {
  text-indent: 0;
}

.sidemenu .menu-wrapper li:hover a, .sidemenu .menu-wrapper li.active a {
    background-color:#BC986A;
    color:#fff;
} 

.menu-wrapper.social li a i {
    padding:0px 15px;
}
